
  <ion-header>
    <ion-toolbar color="primary">
      <button ion-button [solid]="true" color="primary2" (click)="toggleMenuLeft()"><ion-icon name="menu" ></ion-icon></button>
    </ion-toolbar>
  </ion-header>


    <ion-nav #myContent [root]="rootPage"></ion-nav>

  <ion-content padding>

    <ion-menu [content]="myContent" side="start" [swipeEnabled]="false">
      <ion-list no-lines="true" no-border="true" >
        <ion-item><button ion-button [full]="true" [large]="true" ><ion-icon item-start name="trending-up"></ion-icon>statistics</button></ion-item>
        <ion-item><button ion-button [full]="true" (click)="openSettings()" [large]="true" ><ion-icon item-start name="settings"></ion-icon>settings</button></ion-item>
      </ion-list>
    </ion-menu>

  <div *ngIf="!usernameBool">
    <ion-item >
    <ion-input placeholder="anna käyttäjänimi" type="text" #nameInput></ion-input>
    <button ion-button (click)="enterUsername()" item-end>sisään!</button>
    </ion-item>
  </div>


    <ion-list *ngIf="usernameBool"  #listOfItems>
      <ion-item *ngFor="let entry of shoppingListData" >
        <ion-row id="rowParent">
        <ion-col id="itemName"><h2 class="wrap-text">{{entry.item}}</h2></ion-col>
          <ion-col id="userName"> <p ><i>{{entry.user}}</i></p></ion-col>
          <ion-col  id="dateName"> <p>{{entry.date | date:"dd/MM"}}</p></ion-col>
          <ion-col id="priceName" >  <p  padding-left="10px" >{{entry.price}}€</p></ion-col>
          <button  ion-button color="completed"  (click)="buyItem({item:entry.item, price:entry.price})" id="deleteButton" ><ion-icon name="checkbox" #checkMarkIcon></ion-icon></button>
        </ion-row>
        <button ion-button color="danger" (click)="deleteItem({item:entry.item, id:entry.id})" item-left>x</button>
      </ion-item>
     </ion-list>

    <ion-item no-lines="true" *ngIf="usernameBool">
      <div >
        <h2 float-right>Yht. {{this.totalCost}}€</h2>
      </div>
    </ion-item>

  <div *ngIf="usernameBool">
  <h3>Lisää esine!!</h3>
    <ion-input placeholder="esine" type="text" #itemInput></ion-input>
    <button ion-button (click)="postNewItem()">lisää esine</button>
  </div>


</ion-content>
