page-home {
  .content-md{
    background-color: #00eaaa !important;
  }

  .item-md {
    background: transparent;
  }
  #rowParent{
    width: 100%;
 //   animation: moveWithTransform 1s linear infinite;
  }
  #itemName{
    min-width: 35%;
  }
  .wrap-text {
    white-space: normal;
    padding-top: 10%;
  }

  #userName{
    min-width: 15%;
  }
  #deleteButton{
    border-radius: 4px;
  //  font-size: large;
    margin-left: 10px;
    margin-right: 0;
    min-width: 15%;
  }

  #priceName{
    min-width: 10%;
    margin-right: 6px;
  }

  #dateName{
   min-width: 10%;
  }
  .item-input {
    .input-wrapper{
      color: black !important;
      background-color: floralwhite !important;
      border-radius: 10px;
      margin-right: 5px;
    }

    box-shadow: none;
    border-bottom: none;
  }

  .item-md.item-input.input-has-focus .item-inner { box-shadow: none; border-bottom: none; }
  .item-md.item-input .item-inner { box-shadow: none; border-bottom: none; }
  ion-item.item.item-block.item-md.item-input{
    position:relative;
    top:200px;
  }

  #checkMarkIcon{
    padding: 0;
    margin: 0;
    font-size: 1px;
  }

  .label-md{
    margin: 0;
  }

}

@keyframes moveWithTransform {

  0%{
    opacity:1 ;
  }
  100%{
    opacity: 0;
  }


}
