page-home {
  .content-md{
    background-color: #00eaaa !important;
  }

  .item-md {
    background: transparent;
  }

  #userName{
    font-style: italic;
    padding-right: auto;
  }

  #itemName{

  }
}
