
<ion-content padding>

  <div *ngIf="!usernameBool">
    <ion-input placeholder="anna käyttäjänimi" type="text" #nameInput></ion-input>
    <button ion-button (click)="enterUsername()">sisään!</button>
  </div>


    <button ion-button (click)="getList()">Get shopping list!</button>

    <ion-list *ngIf="usernameBool" inset="true">
      <ion-item *ngFor="let entry of shoppingListData">
        <h2 float-start id="itemName">{{entry.item}}</h2>
        <p id="userName">{{entry.user}}</p>
        <p>{{entry.date | date:"dd/MM/yy"}}</p>
        <button ion-button color="danger" value="{{entry.item}}" (click)="deleteItem($event)" float-end  >X</button>
      </ion-item>
     </ion-list>

  <div *ngIf="usernameBool">
  <h3>Lisää esine!!</h3>
    <ion-input placeholder="esine" type="text" #itemInput></ion-input>
    <button ion-button (click)="postNewItem()">lisää esine</button>
  </div>
</ion-content>
