page-history {

  .historyTopButton{
    opacity: 0.5;
    color: black;
    background-color: #dedede;
    max-width: 18%;
    font-size: 3vw;
    text-overflow: clip;
    white-space: normal;
  }

}
